<mat-card class="cardWithShadow">
  <mat-card-content>
    <div>
      <div class="d-flex align-items-center justify-content-between m-b-32">
        <mat-card-title>Kanban</mat-card-title>
        <button mat-flat-button (click)="openDialog('Save', {})">
          save
        </button>
      </div>
      <div class="table-responsive">
        <div class="task-list-section" cdkDropListGroup>
          <div class="task-list-container">
            <div class="connect-sorting bg-light-warning">
              <div class="m-b-16">
                <h5 class="f-s-16 m-b-0 f-w-600">Onhold</h5>
              </div>
              <div
                class="connect-sorting-content"
                [cdkDropListData]="onhold"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
              >
                @if (onhold.length === 0) {
                  <div class="empty-placeholder">
                    Drag tasks here
                  </div>
                }
                @for (task of onhold; track task.uuid) {
                  <mat-card
                    class="cardWithShadow img-task m-b-15 overflow-hidden"
                    cdkDrag
                  >
                    <div class="d-flex align-items-center justify-content-between p-x-12 p-y-10">
                      <h5 class="f-s-14 f-w-600">{{ task.taskName }}</h5>
                      <a [routerLink]="['/apps/taskDetails', task.uuid]" class="m-r-10 cursor-pointer">
                        <i-tabler name="eye" class="icon-18"></i-tabler>
                      </a>
                    </div>

                    <!-- User info section -->
                    <div class="d-flex align-items-center p-x-12 p-y-10">
                      <img
                        [src]="task.porteur?.imagePath || 'assets/images/profile/no-user.jpg'"
                        alt="user"
                        width="35"
                        class="rounded-circle m-r-8"
                        (error)="onImageError($event)"
                      />
                      <span class="f-w-600 f-s-16">
          {{ task.porteur?.firstName || 'No' }} {{ task.porteur?.lastName || 'User' }}
                     </span>
                    </div>

                    <div>
                      <!-- @endif -->
                      <span *ngIf="task.taskDescription" class="f-s-12 p-x-12 p-y-10 d-block">
      {{ task.taskDescription }}
    </span>
                    </div>

                    <div>
                      <div class="d-flex align-items-center justify-content-between p-x-12 p-y-10">
                        <div class="d-flex align-items-center gap-4">
                          <i-tabler name="calendar" class="icon-16 d-flex"></i-tabler>
                          <span class="f-s-12 lh-base">{{ task.createdAt }}</span>
                        </div>
                        <span class="rounded f-s-12 p-x-8 text-white" [ngClass]="getTaskClass(task.priority)">
        {{ task.priority }}
      </span>
                      </div>
                    </div>
                  </mat-card>

                }
              </div>
            </div>
          </div>
          <div class="task-list-container">
            <div class="connect-sorting bg-light-primary">
              <div class="m-b-16">
                <h5 class="f-s-16 m-b-0 f-w-600">Todo</h5>
              </div>
              <div class="connect-sorting-content">
                <div
                  class="connect-sorting-content"
                  [cdkDropListData]="todos"
                  cdkDropList
                  (cdkDropListDropped)="drop($event)"
                >
                  @if (todos.length === 0) {
                    <div class="empty-placeholder">
                      Drag tasks here
                    </div>
                  }
                  @for (task of todos; track task.uuid) {
                    <mat-card
                      class="cardWithShadow img-task m-b-15 overflow-hidden"
                      cdkDrag
                    >
                      <div
                        class="d-flex align-items-center justify-content-between p-x-12 p-y-10"
                      >
                        <h5 class="f-s-14 f-w-600">{{ task.taskName }}</h5>
                        <a [routerLink]="['/apps/taskDetails', task.uuid]" class="m-r-10 cursor-pointer">
                          <i-tabler name="eye" class="icon-18"></i-tabler>
                        </a>
                      </div>
                      <div class="d-flex align-items-center p-x-12 p-y-10">
                        <img
                          [src]="task.porteur?.imagePath || 'assets/images/profile/no-user.jpg'"
                          alt="user"
                          width="35"
                          class="rounded-circle m-r-8"
                          (error)="onImageError($event)"
                        />
                        <span class="f-w-600 f-s-16">
          {{ task.porteur?.firstName || 'No' }} {{ task.porteur?.lastName || 'User' }}
                     </span>
                      </div>

                      <div>
                         @if (task.taskDescription) {
                        <span class="f-s-12 p-x-12 p-y-10 d-block">{{
                            task.taskDescription
                          }}</span>
                      }
                      </div>
                      <div>
                        <div
                          class="d-flex align-items-center justify-content-between p-x-12 p-y-10"
                        >
                          <div class="d-flex align-items-center gap-4">
                            <i-tabler
                              name="calendar"
                              class="icon-16 d-flex"
                            ></i-tabler>

                            <span class="f-s-12 lh-base">{{ task.createdAt }}</span>
                          </div>
                          <span
                            class="rounded f-s-12 p-x-8 text-white"
                            [ngClass]="getTaskClass(task.priority)"
                          >
                          {{ task.priority }}
                        </span>
                        </div>
                      </div>
                    </mat-card>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="task-list-container">
            <div class="connect-sorting bg-light-secondary">
              <div class="m-b-16">
                <h5 class="f-s-16 m-b-0 f-w-600">Inprogress</h5>
              </div>
              <div
                [cdkDropListData]="inprogress"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
              >
                @if (inprogress.length === 0) {
                  <div class="empty-placeholder">
                    Drag tasks here
                  </div>
                }
                @for (task of inprogress; track task.uuid) {
                  <mat-card
                    class="cardWithShadow img-task m-b-15 overflow-hidden"
                    cdkDrag
                  >
                    <div
                      class="d-flex align-items-center justify-content-between p-x-12 p-y-10"
                    >
                      <h5 class="f-s-14 f-w-600">{{ task.taskName }}</h5>
                      <a [routerLink]="['/apps/taskDetails', task.uuid]" class="m-r-10 cursor-pointer">
                        <i-tabler name="eye" class="icon-18"></i-tabler>
                      </a>
                    </div>
                    <div class="d-flex align-items-center p-x-12 p-y-10">
                      <img
                        [src]="task.porteur?.imagePath || 'assets/images/profile/no-user.jpg'"
                        alt="user"
                        width="35"
                        class="rounded-circle m-r-8"
                        (error)="onImageError($event)"
                      />
                      <span class="f-w-600 f-s-16">
          {{ task.porteur?.firstName || 'No' }} {{ task.porteur?.lastName || 'User' }}
                     </span>
                    </div>

                    <div>
                      @if (task.taskDescription) {
                      <span class="f-s-12 p-x-12 p-y-10 d-block">{{
                          task.taskDescription
                        }}</span>
                    }
                    </div>
                    <div>
                      <div
                        class="d-flex align-items-center justify-content-between p-x-12 p-y-10"
                      >
                        <div class="d-flex align-items-center gap-4">
                          <i-tabler
                            name="calendar"
                            class="icon-16 d-flex"
                          ></i-tabler>
                          <span class="f-s-12 lh-base">{{ task.createdAt }}</span>
                        </div>
                        <span
                          class="rounded f-s-12 p-x-8 text-white"
                          [ngClass]="getTaskClass(task.priority)"
                        >
                        {{ task.priority }}
                      </span>
                      </div>
                    </div>
                  </mat-card>
                }
              </div>
            </div>
          </div>

          <div class="task-list-container">
            <div class="connect-sorting bg-light-success">
              <div class="m-b-16">
                <h5 class="f-s-16 m-b-0 f-w-600">Completed</h5>
              </div>
              <div
                [cdkDropListData]="completed"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
              >
                @if (completed.length === 0) {
                  <div class="empty-placeholder">
                    Drag tasks here
                  </div>
                }
                @for (task of completed; track task.uuid) {
                  <mat-card
                    class="cardWithShadow img-task m-b-15 overflow-hidden"
                    cdkDrag
                  >
                    <div
                      class="d-flex align-items-center justify-content-between p-x-12 p-y-10"
                    >
                      <h5 class="f-s-14 f-w-600">{{ task.taskName }}</h5>
                      <a [routerLink]="['/apps/taskDetails', task.uuid]" class="m-r-10 cursor-pointer">
                        <i-tabler name="eye" class="icon-18"></i-tabler>
                      </a>
                    </div>
                    <div class="d-flex align-items-center p-x-12 p-y-10">
                      <img
                        [src]="task.porteur?.imagePath || 'assets/images/profile/no-user.jpg'"
                        alt="user"
                        width="35"
                        class="rounded-circle m-r-8"
                        (error)="onImageError($event)"
                      />
                      <span class="f-w-600 f-s-16">
          {{ task.porteur?.firstName || 'No' }} {{ task.porteur?.lastName || 'User' }}
                     </span>
                    </div>

                    <div>
                      @if (task.taskDescription) {
                        <span class="f-s-12 p-x-12 p-y-10 d-block">{{
                            task.taskDescription
                          }}</span>.

                      }
                    </div>
                    <div>
                      <div
                        class="d-flex align-items-center justify-content-between p-x-12 p-y-10"
                      >
                        <div class="d-flex align-items-center gap-4">
                          <i-tabler
                            name="calendar"
                            class="icon-16 d-flex"
                          ></i-tabler>
                          <span class="f-s-12 lh-base">{{ task.createdAt }}</span>
                        </div>
                        <span
                          class="rounded f-s-12 p-x-8 text-white"
                          [ngClass]="getTaskClass(task.priority)"
                        >
                        {{ task.priority }}
                      </span>
                      </div>
                    </div>
                  </mat-card>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
