@if (action === 'Assign') {
  <mat-dialog-content class="mat-typography">
    <div class="col-sm-6 col-lg-12">
      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Assign User</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select
          placeholder="Assign User"
          [(ngModel)]="task.porteur"
          name="assignee"
          required
        >
          @for (user of users; track trackByUser) {
            <mat-option [value]="user">
              <div class="d-flex align-items-center gap-8">
                <img
                  [src]="user.imagePath"
                  alt="{{ user.firstName }}"
                  style="width: 24px; height: 24px; border-radius: 50%"
                />
                {{ user.firstName }}
              </div>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

} @else if  (action === 'Add' ||  action === 'Update') {
  <mat-dialog-content class="mat-typography">
    <div class="d-flex align-items-center justify-content-between m-b-16">
      <h3>{{ action }} Task</h3>
      <button
        mat-icon-button
        mat-dialog-close
        class="d-flex justify-content-center"
      >
        <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
      </button>
    </div>
    <form #userForm="ngForm">
      <div class="row">
        @if (action === 'Update') {
          <div class="col-sm-6 col-lg-12">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Ticket Id</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input
                type="text"
                matInput
                required
                id="id"
                name="id"
                [(ngModel)]="task.uuid"
                placeholder="id"
              />
            </mat-form-field>
          </div>
        }
        <div class="col-sm-6 col-lg-12">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Task Title</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              type="text"
              matInput
              required
              id="title"
              name="title"
              [(ngModel)]="task.taskName"
              placeholder="task Title"
            />
          </mat-form-field>
        </div>

        <div class="col-sm-6 col-lg-12">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Task Description</mat-label>
          <mat-form-field appearance="outline" class="w-100">
              <textarea
                matInput
                required
                id="subtext"
                name="subtext"
                [(ngModel)]="task.taskDescription"
                placeholder="Enter task description"
                rows="4">
              </textarea>
          </mat-form-field>
        </div>


        <div class="col-sm-6 col-lg-12">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Task Échéance</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              [matDatepicker]="picker"
              required
              id="echeance"
              name="subtext"
              [(ngModel)]="task.echeance"
              placeholder="Select date"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-6 col-lg-12">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Task priority</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select
              required
              id="priority"
              name="subtext"
              [(ngModel)]="task.priority"
              placeholder="Select priority"
            >
              <mat-option *ngFor="let num of [1, 2, 3, 4, 5]" [value]="num">
                {{ num }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
}
@else {
  <div class="p-x-24 p-b-24">
    Sure to delete <span class="f-w-600">{{ task.taskName }}</span>?
  </div>
}
<div mat-dialog-actions class="p-24 p-t-0">
  <button mat-flat-button (click)="doAction()">{{ action }}</button>
  <button mat-flat-button class="bg-error text-white" (click)="closeDialog()">
    Cancel
  </button>
</div>
